.globalcontainer{
  display: flex;
  flex-direction: column;
  
  gap :50px;
  align-items:flex-start;

  position:relative;
  /* background: aqua; */
  height: 100vh;
  
  position:fixed;

 }

.background{
   
  width: 100%; 
height: 100vh;
    position:sticky;     
     z-index: -10000;
     margin-top: 50px; 
     margin-left: 1000px
     
}

.containerform{
  position:fixed;
padding-left: 60px;
padding-top: 50px;
 
}

.submitbutton{
   display: flex;
  flex-direction: column;

position: relative;
margin-left:50%;


}

.btnsignup{
  background:rgb(255, 253, 253) ;
  border: 3px solid rgb(255, 255, 255);
  border-radius:200px ;
  box-shadow:2px 3px 20px rgb(0, 0,0,0.14);
  
  color:#1C4B82 ;
  font-weight: bold;
  font-size: 20px;

}

.home{
  margin-bottom: 20px;
  margin-top: 5px;
 margin-left: 50%;
 text-decoration: none ; 
 position:fixed;
}